/* TODO: add any application specific styling here */

#mediaReadview img {
    width: 50%;
    max-width: 100%;
    border: 2px solid limegreen;
}

#mediaReadview main {
    padding: 10px;
}
footer p{
    margin-left: 10px;
    height: 7px;
    line-height: 7px;
}